#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  kickstart-app.service
BindsTo=kickstart.service
After=kickstart.service mariadb-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/kickstart-app.pid %t/kickstart-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/kickstart-app.pid \
    --cidfile %t/kickstart-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/kickstart.pod-id --replace -d --name  kickstart-app \
    --volume html:/var/www/html/:Z \
    --volume ./config:/tmp:Z \
    --env=MARIADB_* \
    --env MARIADB_DB_TYPE=mysql \
    --env MARIADB_DB_HOST=127.0.0.1 \
    --env MARIADB_DB_PORT=3306 \
    --env MARIADB_DB_USER=kickstart \
    --env MARIADB_DB_PASSWORD=kickstart \
    --env MARIADB_DB_NAME=kickstart \
    ${NGINX_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/kickstart-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP kickstart-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/kickstart-app.ctr-id
PIDFile=%t/kickstart-app.pid
Type=forking

[Install]
WantedBy=default.target
